# byte-compiled / optimized / DLL files
.dev/
__pycache__/
*.py[cod]
dev2/
# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv

# other
.DS_Store

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp

.dev/lib/python3.10/site-packages/pytz/zoneinfo/Indian/Chagos
