{% extends "layouts/base.html" %}

{% block title %} UI Datatables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Vehiculos</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Control Vehicular</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Vehiculos</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-folder text-warning"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Flota</p>
										<h4 class="card-title">{{resume.all}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-delivery-truck text-success"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Disponibles</p>
										<h4 class="card-title">{{resume.availables}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-placeholder text-success"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">En Ruta</p>
										<h4 class="card-title">{{resume.on_road}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="card card-stats card-round">
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<i class="flaticon-alarm-1 text-danger"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="card-category">Detenidos</p>
										<h4 class="card-title">{{resume.stopped}}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Listado de vehiculos</h4>
						</div>

						<div class="card-body">
							<!-- TABLE -->
							<div class="table-responsive">
								<table id="basic-datatables" class="display table table-striped table-hover" >
									{% for object in objects %}
										{% if forloop.first %}
											<thead>
												<tr>
													{% for fieldname in object.keys %}<th>{{ fieldname }}</th>{% endfor %}
													{% if options %}
													<td>Options</td>
													{% endif %}
												</tr>
											</thead>
											<tbody>
										{% endif %}
											<tr>
											{% for value in object.values %}<td>{{ value }}</td>{% endfor %}
											{% if options %}
												<td>
													<button class="btn btn-primary btn-border dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-thumbtack"></i></button>
													<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(140px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
														{%for option in options%}	
														<a class="dropdown-item" href=""{{option.url}}"> 
														<div class="row">
															<div></div>
															<div class="col-sm-2"><i class="{{option.ico}}"></i></div> &nbsp;&nbsp; {{option.alt}}
															<div class="col-sm-6 text-left">
															</div>
														</div>
														</a>
														<!-- <a href="{{option.url}}" alt="{{option.alt}}">
															<i class="{{option.ico}}""></i> 
														</a> -->

														{% endfor %}
														<div role="separator" class="dropdown-divider"></div>
														<a class="dropdown-item" href="#"><i class="fas fa-clipboard-list"></i>  &nbsp;&nbsp; Ver detalle</a>

													<!-- <a class="dropdown-item" href="#">.. Mantenimiento</a>
													<a class="dropdown-item" href="#">..Otro</a> -->
												</div>
												</td>
											{% endif %}
											</tr>

									{% endfor %}
										</tbody>
								</table>
							</div>							
							<!-- TABLE END -->	
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script >
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>

{% endblock javascripts %}
