{% extends "layouts/base.html" %}


{% load floppyforms %}
{% load core_extras %}


{% block title %} Evento {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Eventos programados</h4>
            {% include 'includes/breadcrumb.html' %}

        </div>
        <!-- end header -->
<!--title -->
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title"></h4>
						</div>

						<div class="card-body">
<!-- 
    AQUI VA EL CONTENIDO >>>


    
-->


<div class="card full-height">
    <div class="card-header">
        <div class="card-head-row">
            <div class="card-title">Eventos</div>
            <div class="card-tools">
                <ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="pills-today" data-toggle="pill" href="#pills-today" role="tab" aria-selected="true">Hoy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-week" data-toggle="pill" href="#pills-week" role="tab" aria-selected="false">Esta semana</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-month" data-toggle="pill" href="#pills-month" role="tab" aria-selected="false">Este mes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- del header-->

    <div class="card-body">
        {% for event in events %}
        <div class="row">
        <div class="col">
            <a href="{% url 'appointment_detail' event.id %}"  style="color: inherit;">
                <div class="row">
 
                            <div class="col-md-1">
                                    <div class="avatar">
                                        <img src="https://ui-avatars.com/api/?name={{ event.date | date:'d' }}" alt="guest"  class="avatar-img rounded-circle  border border-white bg-info" >
                                    </div>
                            </div>
                            <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h5 class=" fw-bold">{{ event.subject }}  &nbsp;<span>...</span></h5>

                                            </div> 
                                            <div class="col-md-4">
                                                <span class="h5">{{ event.employ_name}}</span>
                                            </div> 
                                            <div class="col-md-4">
                                                <span class="h5">{{ event.location}}</span>
                                            </div> 
                                        </div>


                            </div>
                            
                            <div class="col-md-2">
                                <div class="flex-1 ml-3 pt-1">
                                    <h6 class="text-uppercase fw-bold mb-1">{{ event.date | date:'l j F' }} <span class="text-warning pl-3"> <i class="fas fa-clock"></i> </span></h6>
                                    <span class="text-muted">de : {{ event.start |date:'P' }} a {{ event.end |date:'P' }}</span>    
                                </div>
                            </div>
                </div> <!-- row-->
            </a>
        </div> <!-- col -->
        <div class="col-1">
            {% if options %}
                                   
                                    <button class="badge badge-{% if event.status == 1  %}success{% elif event.status == 2%}warning{% else %}danger{% endif %} dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="{{options.icon}}"></i>{{  event.get_status_display  }}</button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(140px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        {% for option in options.menu %}
                                         	
                                            <a class="dropdown-item" href="{% url option.url  event.id  %}"> 
                                                <div class="row">
                                                    <div></div>
                                                    <div class="col-sm-2"><i class="{{option.icon}}"></i></div> &nbsp;&nbsp; {{option.label}}
                                                    <div class="col-sm-6 text-left"></div>
                                                </div>
                                            </a>
        
        
                                        {% endfor %}
                                        <div role="separator" class="dropdown-divider"></div>
        
        
                                    </div>
                                
                            {% endif %}
            <div class="separator-dashed"></div>
            
        </div>
    </div>
    {% endfor %}
            
    </div> <!-- card body-->
           
    
</div>


</div> <!-- card -->

</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}
