
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="#">
									Mi empresa
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; <a target="_blank" href="#">Dev</a> 
                        - coded by <a target="_blank" href="#">Demo</a>
					</div>				
				</div>
            </footer>
            