		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark">	
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% if request.user.is_authenticated %}	
					
					
					<ul class="nav nav-primary">
						
						<!-- Menu -->
						<li class="nav-item  {% if app == 'home' %} active {% endif %}">
							<a  href="{% url 'home' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
								
							</a>
							
						</li>
						<!-- menu -->
						<li class="nav-item {% if app == 'appointment' %} active {% endif %}">
							<a data-toggle="collapse" href="#flota" class="collapsed" aria-expanded="false">
								<i class="fas fa-calendar-check"></i>
								<p>Agenda</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="flota">
								<ul class="nav nav-collapse">
									<!-- submenu item -->
									<li>
										<a href="{% url 'appointment_list'%}">
											<span class="sub-item">Citas</span>
										</a>
									</li>
									
								</ul>
							</div>
						</li>
						<!-- menu -->
						<li class="nav-item  {% if app == 'employes' %} active {% endif %}">
							<a  href="{% url 'employ_search' %}" class="collapsed" aria-expanded="false">
								<i class="fas fa-user"></i>
								<p>Consulta</p>
								
							</a>
							
						</li>
						


						<!-- <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Components</h4>
						</li> -->
						
						
				{% else %}
					<ul class="nav nav-primary">
						<li class="mx-4 mt-2">
                          
						</li>
					</ul>
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        